.card {
  font-size: 1.5rem;
  width: 30vw;
  height: 15vw;
  background-color: #e2e9f3;
  color: #222;
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  span {
    cursor: pointer;
    position: absolute;
    top: 0.2rem;
    right: 0.7rem;
  }
  pre {
    position: absolute;
    color: #2225;
    bottom: 0.2rem;
    right: 0.7rem;
    &:before {
      content: 'id: ';
    }
  }
}
