.main-container {
  &::-webkit-scrollbar {
    width: 12px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #0001;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #0008;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #0009;
  }
  /* Handle on click */
  &::-webkit-scrollbar-thumb:active {
    background: #000a;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  h1.no-cards {
    padding: 2em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: #5552;
  }
  overflow-y: scroll;
}
